* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

:root{
    font-size: 62.5%;
    --white: #fff;
    --keppel: #26C2AE;
    --antiflash-white: #F3F9FA;
    --midnight-green: #00474B;
    --body-background: #C5E4E7;
    --hookers-green: #547878;
    --greyish-turquoise: #7F9D9F;
}

body{
    background-color: var(--body-background);
    font-size: 1.6rem;
}

header{
    padding-top: 5rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

main{
    background-color: var(--white);
    padding: 3.2rem 2.4rem;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 32px 43px 0 #4FA6AF33;
}

.info{
    padding-inline: .8rem;
    div{
        margin-bottom: 3.2rem;
    }
    strong {
        color: var(--greyish-turquoise);
        display: block;
        margin-bottom: .6rem;
    }
    .input-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--antiflash-white);
        padding: 0.6rem 1.8rem;
        border-radius: 5px;

        input{
            background-color: transparent;
            border: none;
            outline: none;
            text-align: right;
            width: 100%;
            font-weight: 700;
            font-size: 2.4rem;
            color: var(--midnight-green);
        }
        input::placeholder{
            color: var(--midnight-green);
        }
        &:has(input:focus){
            outline: 2px solid var(--keppel);
        }
    }
    .tip{
        .buttons{
            margin-top: 1.6rem;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1.6rem;

            input{
                color: var(--hookers-green);
                background-color: var(--antiflash-white);
                border: none;
                border-radius: .5rem;
                font-weight: 700;
                text-align: center;
                font-size: 2.4rem;
                width: 100%;
                padding-right: .75rem;
            }
            input::placeholder{
                color: var(--hookers-green);
            }
            input::focus{
                outline: 2px solid var(--keppel);
            }
        }
        button{
            border: none;
            padding: .6rem;
            border-radius: .5rem;
            background-color: var(--midnight-green);
            color: var(--white);
            font-size: 2.4rem;
            font-weight: 700;
        }
        .button-selected{
            background-color: var(--keppel);
        }
    }
}

.results{
    background-color: var(--midnight-green);
    padding: 2.4rem;
    border-radius: 1.5rem;

    .amount, .total{
        color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;

        p{
            font-weight: 700;
            font-size: 1.6rem;
        }

        strong{
            color: var(--keppel);
            font-size: 3.2rem;
        }
        span{
            color: var(--greyish-turquoise);
            font-weight: 700;
        }
    }
    button{
        border: none;
        background-color: var(--keppel);
        padding-block: .9rem;
        width: 100%;
        border-radius: .5rem;
        text-transform: uppercase;
        font-size: 2.0rem;
        color: var(--midnight-green);
        font-weight: 700;
    }
}

@media(min-width: 920px){
    body{
        display: flex;
        flex-direction: column;
    }
    header {
        margin: 6rem;
    }
    main{
        width: 92rem;
        display: flex;
        gap: 4.8rem;
        padding: 4.8rem;
        margin-inline: auto;
        border-radius: 2.5rem;

        section{
            width: 100%;
        }

        input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
            display: none;
        }

        .info .tip .buttons{
            grid-template-columns: repeat(3,1fr);

            button{
                transition: .5s;
                margin-top: auto;
            }

            button:hover{
                background-color: var(--keppel);
                cursor: pointer;
                transition: .5s;
            }
        }
        .results{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .amount strong, .total strong{
                font-size: 4.8rem;
            }
            .total span, .amount span{
                font-size: 1.3rem;
            }
            button{
                margin-top: auto;
            }
        }
    }
}